:root {
  --cor-fundo-claro: #ffffffff;    /* Cinza claro, ideal para fundos de página */
  --cor-texto-escuro: #040024;   /* Verde super escuro, para texto principal */
  --cor-primaria: #1f469c;       /* Verde oliva, para títulos e elementos primários */
  --cor-destaque: #5b0097;       /* Verde limão, para botões, links e chamadas de ação (CTA) */
  --cor-secundaria: #f73e41;     /* Verde amarelado, para detalhes, bordas ou alertas */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.menu {
       background-color: var(--cor-destaque); /* Cor de fundo escura */
        padding: 10px 30px; /* Espaçamento interno */
        display: flex; /* Usa flexbox para alinhar os elementos */
        justify-content: space-between; /* Espaça os elementos ao longo do eixo principal */
        align-items: center; /* Alinha verticalmente os itens */
        width: 100%; /* Faz o menu ocupar toda a largura da tela */
        margin-top: -45px;
        margin-left: -10px;
        }
        .menu ul {
        list-style: none; /* Remove os marcadores da lista */
        margin: 0; /* Remove margens */
        padding: 0; /* Remove preenchimentos */
        display: flex; /* Exibe os itens horizontalmente */
        }

        .menu ul li {
        padding: 45px; /* Adiciona espaçamento entre os itens do menu */
        }

        .menu ul li a {
        color: white; /* Define a cor do texto */
        text-decoration: none; /* Remove sublinhado dos links */
        font-size: large;
  margin-left: -35px;
  font-weight: bold;
 
        }

table {
    width: 90%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 15px rgba(64, 121, 0, 0.1);
}

    