.menu {
       background-color: var(--cor-destaque); /* Cor de fundo escura */
        padding: 10px 30px; /* Espaçamento interno */
        display: flex; /* Usa flexbox para alinhar os elementos */
        justify-content: space-between; /* Espaça os elementos ao longo do eixo principal */
        align-items: center; /* Alinha verticalmente os itens */
        color: white; /* Cor do texto */
        width: 100%; /* Faz o menu ocupar toda a largura da tela */
        margin-top: -45px;
        margin-left: -10px;
        }
        .menu ul {
        list-style: none; /* Remove os marcadores da lista */
        margin: 0; /* Remove margens */
        padding: 0; /* Remove preenchimentos */
        display: flex; /* Exibe os itens horizontalmente */
        }

        .menu ul li {
        padding: 45px; /* Adiciona espaçamento entre os itens do menu */
        }

        .menu ul li a {
        color: white; /* Define a cor do texto */
        text-decoration: none; /* Remove sublinhado dos links */
        font-size: large;
  margin-left: -35px;
 
        }

    